<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!-- Application Environment -->
    <add key="IS_PRODUCTION" value="0"/>

    <!-- Mantis Database Connection String -->
    <add key="SERVER" value="izin.optiim.com" />
    <add key="PORT" value="3306" />
    <add key="DATABASE" value="bugtracker"/>
    <add key="DB_USER" value="mantisBT"/>
    <add key="DB_PASSWORD" value="0pt11mPPMMAN"/>

    <!-- E-Mail Configuration -->
    <add key="SENDER_MAIL" value="mantis@optiim.com" />
    <add key="SENDER_MAIL_PASSWORD" value="rk[cOv^u" />
    <add key="SENDER_HOST" value="smtp.gmail.com" />
    <add key="SENDER_SSL" value="TRUE" />
    <add key="SENDER_PORT" value="587" />
    
    <!-- E-Mail Informations -->
    <add key="RECEIVER_TO_1" value="levent.ozalp@optiim.com" />
    <add key="RECEIVER_TO_2" value="hakan.turgut@optiim.com" />
    <add key="RECEIVER_TO_3" value="canturk.toprakli@optiim.com" />
    <add key="RECEIVER_TO_4" value="islam.bayraktar@optiim.com" />
    <add key="RECEIVER_TO_5" value="melih.caliskan@optiim.com" />
    <add key="RECEIVER_TO_6" value="sera.durgun@optiim.com" />
    <add key="RECEIVER_TO_7" value="nedim.yilmaz@infoera.com.tr" />
    <add key="RECEIVER_TO_8" value="timur.turgutlu@infoera.com.tr" />
    <add key="RECEIVER_TO_9" value="timucin.turgutlu@infoera.com.tr" />
    <add key="RECEIVER_TO_10" value="ufuk.isler@infoera.com.tr" />
    <add key="RECEIVER_TO_11" value="" />
    <add key="RECEIVER_TO_12" value="" />
    <add key="RECEIVER_TO_13" value="" />
    <add key="RECEIVER_TO_14" value="" />
    <add key="RECEIVER_TO_15" value="" />

    <add key="RECEIVER_CC_1" value=""/>
    <add key="RECEIVER_CC_2" value=""/>
    <add key="RECEIVER_CC_3" value=""/>
    <add key="RECEIVER_CC_4" value=""/>
    <add key="RECEIVER_CC_5" value=""/>

    <add key="RECEIVER_BCC_1" value="burak.kaya@optiim.com"/>
    <add key="RECEIVER_BCC_2" value="onur.ustunay@optiim.com"/>

  </appSettings>
</configuration>